<div class="jumbotron">

  <h2>Bienvenue, Bob</h2>
  <br>
  <div class="card card-block" *ngIf="selectedTicket">
    <h4 class="card-title">{{selectedTicket.person.firstName}} {{selectedTicket.person.lastName}} <a href="mailto:{{selectedTicket.person.lastName}}">{{selectedTicket.person.email}}</a></h4>
    <p class="card-text">
      <b>Date : </b> {{selectedTicket.date}} <br>
      <b>Laverie : </b> {{selectedTicket.laundry}} <br>
      <b>Machine : </b> {{selectedTicket.machine}} <br>
      <b>Problème : </b> {{selectedTicket.problem}} <br>
      <b>Commentaire : </b> {{selectedTicket.comment}} <br>
      <b>Utilisateur : </b> Chambre : {{selectedTicket.person.room}} , Téléphone : {{selectedTicket.person.phone}}</p>
      <a href="#" class="card-link">Editer le ticket</a>
  </div>

    <h4>Liste des tickets :</h4>
    <div class="list-group list-tickets">
      <a href="#" class="list-group-item" *ngFor="let ticket of tickets" (click)="onSelectTicket(ticket)">
        <span class="label label-default pull-xs-right label-success">2 jetons rendus</span>
        {{ticket.person.firstName}} {{ticket.person.lastName}} <i>{{ticket.person.email}}</i>
      </a>
    </div>

  </div>
